@model Noticia
 @{
        ViewData["Title"] = "Notícias";
 }

<form action="@Url.Action("Cadastrar")" method="post" enctype="multipart/form-data">

<label for="IdNoticia">IdNoticias</label>
<input type="text" name="IdNoticias" id="IdNoticias">

 <label for="Titulo">Título</label>
<input type="text" name="Titulo" id="Titulo">
        
<label for="Texto">Texto</label>
<input type="text" name="Texto" id="Texto">

<label for="Imagem">Imagem</label>
<input type="file" name="Imagem" id="Imagem">

<button type="submit">Ver Noticias</button>

</form>

<table class="table table-responsive table-striped">
 <thead>
     <th>ID</th>
    <th>Título</th>
    <th>Texto</th>
    <th>Foto</th>
     <th>Ações</th>
</thead>

    <tbody>

        @foreach (var item in ViewBag.Noticias){
            <tr>
                <td>@item.IdNoticia</td>
                <td>@item.Titulo</td>
                <td>@item.Texto</td>
                <td><img src="img/Noticia/@item.Imagem" alt="Imagem da Notícia @item.Titulo" width="40"></td>0
                <td><a asp-area="" asp-controller="Noticia" asp-action="Excluir" asp-route-id="@item.IdNoticias">Excluir</a></td>
            </tr>
        }
    </tbody>

</table>